---
- name: Backup DC1 NXOS devices
  hosts: dc1_nexus
  gather_facts: false

  vars:
    backup_dir: init_config/dc1

  tasks:
    # - name: Print ansible facts
    #   ansible.builtin.debug:
    #     msg: '{{ ansible_facts }}'

    - name: Backup DC1 Nexus Switches
      cisco.nxos.nxos_config:
        backup: true
        backup_options:
          dir_path: backups/{{ backup_dir }}/{{ inventory_hostname }}
          filename: "{{ inventory_hostname }}-{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}.ios"
        save_when: changed
        running_config: true
        replace: line
      register: backup_result
