---
- name: Backup DC1 IOS-XE devices
  hosts: dc1_routers
  gather_facts: false

  vars:
    backup_dir: init_config/dc1

  tasks:
    # - name: Print ansible facts
    #   ansible.builtin.debug:
    #     msg: '{{ ansible_facts }}'

    - name: Backup IOS_XE Wan Routers
      cisco.ios.ios_config:
        backup: true
        backup_options:
          dir_path: backups/{{ backup_dir }}/{{ inventory_hostname }}
          filename: "{{ inventory_hostname }}-{{ lookup('pipe', 'date +%Y%m%d-%H%M') }}.ios"
        save_when: changed
        running_config: true
        replace: line
      register: backup_result
      when: '"dc1_wan_routers" in group_names'

    - name: Backup IOS_XE DCI Routers
      cisco.ios.ios_config:
        backup: true
        backup_options:
          dir_path: backups/{{ backup_dir }}/{{ inventory_hostname }}
          filename: "{{ inventory_hostname }}-{{ lookup('pipe', 'date +%Y%m%d-%H%M') }}.ios"
        save_when: changed
        running_config: true
        replace: line
      register: backup_result
      when: '"dc1_dci_routers" in group_names'
